input {
	file {
		path => "/data/*.json"
		start_position => "beginning"
		type => "infogreffe"
		codec => json
	}
}

filter {
	json {
		source => message
	}
	mutate {
		remove_field => ["@version", "host", "path", "tags", "message", "dateRadiation", "dateImmatriculation"]
	}
}

output {
	elasticsearch {
		hosts => ["elasticsearch:9200"]
		index => "infogreffe-%{+yyyy}"
		template => "/config/infogreffe_template.json"
		template_name => "infogreffe"
	}
}